@use '../../utils/utils.scss' as *;

.conteiner-abaixa {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    * {
        font-family: 'Sora', Arial, Helvetica, sans-serif;
        color: white;
        position: relative;
        z-index: 2;
    }

    .abaixa-h1-main {font-size: rem(50);}

    .abaixa-p-text {color: white; font-weight: bold;}

    //background
    .conteiner-background-abaixa {
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        filter: brightness(0.7);

        .colunas-back {
            flex: 1;
            height: 110%;
            background: rgb(172, 113, 228);
        }

        .up-down {animation: up-down 6s alternate infinite forwards;}

        @keyframes up-down {
            from {height: 110%;}
            to {height: 0%;}
        }
    }

        
    .conteiner-abaixa-area-botao-back {
        margin-top: rem(60);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: rem(20);
        height: auto;
        opacity: 0;

        //botao back
        .abaixa-btn-voltar {
            aspect-ratio: 4 / 1;
            width: rem(150);
            padding: rem(5);
            border-radius: rem(1);
            background: rgb(58, 56, 66);
            font-size: rem(25);
            border: rem(1) solid rgb(51, 9, 75);
            outline: 0;
            cursor: pointer;
            transition: 0.2s ease-in;

            &:hover {
                filter: brightness(0.9);
            }
        }
    }  

    .up-move {animation: up-move 2s ease 1 forwards;}
    @keyframes up-move {
        to {transform: translateY(rem(-30)); opacity: 1;}
    }


    //aviso
    //class que vai trazer ele de voltar, no caso ele estara escodido
    .abaixa-show-aviso {right: 0 !important;}

    .conteiner-abaixa-aviso {
        transition: 0.5s ease;
        position: absolute;
        right: rem(-250);
        top: 10%;
        width: rem(250);
        height: auto;
        display: flex;
        align-items: center;
        background: white;
        padding: rem(10);
        border-radius: 0 0 0 rem(10) ;
        border-bottom: rem(5) solid rgba(255, 0, 0, 0.549);
        animation: pisca-alerta 0.8s ease-in-out 2 forwards;

        &:hover {
            border-color: red;
        }
        
        .abaixa-aviso-text {
            font-size: rem(18);
            width: 100%;
            height: auto;
            text-align: justify;
            hyphens: auto;
            color: black;
        }

        //Keyframe, ondem contem uma animacao de  pisca alerta
        @keyframes pisca-alerta {
            from {background: rgb(246, 183, 183);}
            to {background: white;}
        }
    }
}

/////////////////////////////// Responsividade ////////////////////////
//largura <= 1060px

@media (max-width: 1060px) {
    .conteiner-abaixa {
        .abaixa-h1-main {font-size: rem(40); }
        .abaixa-p-text {font-size: rem(15);}

        .conteiner-abaixa-aviso >  .abaixa-aviso-text {
            font-size: rem(15);
        }

        .conteiner-abaixa-area-botao-back {
            .abaixa-btn-voltar {
                width: rem(130);
            }       
        }
    }
}

//largura <= 840px
@media (max-width: 840px) {
    .conteiner-abaixa {
        .abaixa-h1-main {font-size: rem(30);}
        .abaixa-p-text {font-size: rem(13);}
    }
}

//largura <= 650px
@media (max-width: 650px) {
    .abaixa-h1-main {font-size: rem(25) !important; text-wrap: nowrap;}

    .conteiner-abaixa > .conteiner-abaixa-aviso > .abaixa-aviso-text {font-size: rem(13);}

    .conteiner-abaixa > .conteiner-abaixa-area-botao-back > .abaixa-btn-voltar {
        font-size: rem(20);
        width: rem(100);
    }
}

//largura <= 500px
@media (max-width: 500px){
    .conteiner-abaixa-aviso {top: 5% !important;}

    .conteiner-abaixa {
        .abaixa-h1-main {font-size: rem(18) !important;}
        .abaixa-p-text {
            font-size: rem(13) !important;
            text-align: center !important;
        }
        .abaixa-p-text:nth-of-type(1) {padding: rem(4);}

        .conteiner-abaixa-area-botao-back > .abaixa-btn-voltar {
            font-size: rem(17);
            width: rem(90);
        }
    }
}

//largura <= 400px
@media (max-width: 400px) and (pointer: coarse) {
    .conteiner-abaixa {
        .abaixa-h1-main {font-size: rem(16.5) !important;}
        .abaixa-p-text {font-size: rem(13) !important;}

        .conteiner-abaixa-aviso > .abaixa-aviso-text {font-size: rem(12);}
    }
}