@use '../../utils/utils.scss' as *;

.conteiner-Escolher-Stream {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;

    * {
        font-family: "Sora", Arial, Helvetica, sans-serif;
        color: white;
    }

    h1, p {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 {
        margin-top: rem(100);
        font-size: rem(50);
    }
    p {
        margin-bottom: rem(50);
        font-size: rem(20);
    }


    .conteiner-streams {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: rem(50);
        width: 100%;
        height: auto;
    }
}

////////////////////////////// Responsividade /////////////////////////
//largura <= 1000px

@media (max-width: 1000px) {
    .conteiner-Escolher-Stream {

        h1 {
            margin-top: rem(30);
            font-size: rem(45);
        }

        p {
            font-size: rem(18);
            margin-bottom: rem(20);
        }

        .conteiner-streams {
            align-items: center !important;
            flex-direction: column-reverse !important;
        }
    }
}

//largura <= 700px 
@media (max-width: 700px) {
    .conteiner-Escolher-Stream {
        h1 {font-size: rem(30);}
        p {font-size: rem(15);}
        .conteiner-streams {
            gap: rem(30);
        }
    }
}

//Responsividade para despositivos moveis
//largurar <= 500px

@media (max-width: 500px) and (pointer: coarse) {
    .conteiner-Escolher-Stream {
        h1 { width: 100%;}
        p {
            width: 80%; 
            text-align: justify;
            word-spacing: rem(-1);
        }

        h1 {
            text-wrap: nowrap;
            font-size: rem(20);
            margin-bottom: rem(20);
        }

        p {padding: rem(5);}
    }
}

//largura <= 400px

@media (max-width: 400px) and (pointer: coarse) {
    .conteiner-Escolher-Stream {
        p {font-size: rem(13);}
    }
}