@use '../../utils/utils.scss' as *;

.conteiner-Escolher-Stream {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    * {
        font-family: "Sora", Arial, Helvetica, sans-serif;
        color: white;
    }

    h1 {
        margin-top: rem(100);
        font-size: rem(50);
    }
    p {
        margin-bottom: rem(50);
        font-size: rem(20);
    }


    .conteiner-streams {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: rem(50);
        width: 100%;
        height: auto;
    }
}