@use "../../utils/utils.scss" as *;

.conteiner-effect {filter: grayscale(50%);}

.conteiner-input-url {
    background: rgba(44, 10, 85, 0.304);
    width: 50%;
    border-radius: rem(3);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: rem(10);
    font-family: "Sora";
    padding: rem(10);
    padding-bottom: rem(30);
    position: relative;
    transition: 0.5s ease;

    .logo-youtube {
        object-fit: contain;
        height: rem(60);
        margin-top: rem(20);
    }

    .text-orienta-urlinput {
        color: white;
        font-size: rem(20);
        margin-top: rem(20);
    }

    .conteiner-url {
        width: 80%;
        height: rem(50);
        background: rgba(68, 16, 133, 1);
        display: flex;
        align-items: center;
        padding: rem(5);
        padding-left: rem(10);
        border-radius: rem(5);
        position: relative;
        gap: rem(10);
        z-index: 100;

        .colar-input-url {
            aspect-ratio: 1 / 1;
            height: rem(40);
            position: absolute;
            left: -10%;
            top: 50%;
            transform: translateY(-50%);
            background: rgba(255, 255, 255, 0.319);
            padding: rem(2);
            border-radius: rem(5);
            cursor: pointer;
            transition: 0.3s linear;

            &:hover {
                transform: translateY(-50%) scale(1.1);
            }

            img {
                object-fit: contain;
                height: 100%;
                width: 100%;
            }
        }


        input {
            transition: 0.3s ease;
            border: 0;
            outline: 0;
            background: transparent;
            height: 70%;
            width: 80%;
            color: white;
            font-size: rem(20);
            font-weight: 500;   
            font-family: monospace, Arial, Helvetica, sans-serif ;
        }

        .btn-Manda-URL {
            position: relative;
            width: 20%;
            height: 100%;
            font-weight: bolder;
            font-family: "Sora", Arial, Helvetica, sans-serif;
            border: 0;
            outline: 0;
            background: rgb(84, 232, 51);
            color: black;
            border-radius: rem(5);
            color: white;
            font-size: rem(20);
            transition: 0.3s ease-in-out;
            cursor: pointer;
            
            &:hover {
                box-shadow: rem(4) rem(4) 0 #000;
            }
        }

        .input-color-trans {color: rgba(255, 255, 255, 0.584);}
        //placeholder
        .placeholder-input-url {
            position: absolute;
            left: 2%;
            top: 50%;
            transform: translateY(-50%);
            color: white;
            background: rgba(68, 16, 133, 1);
            padding: rem(2);
            border-radius: rem(5);
            font-size: rem(20);
            transition: 0.2s;
        }
        .up-placeholder {top: -40%; transform: scale(0.95); color:rgb(255, 144, 144);}

    }   

    //Paragrafo error
    .p-error {
        width: 100%;
        text-align: justify;
        hyphens: auto;
        padding: rem(5);
        background: rgba(255, 0, 0, 0.263);
        border-radius: rem(5);
        color: transparent;
        border: rem(2) solid red;
        animation: p-error-show 1s linear 1 forwards;
        opacity: 0;
        position: relative;
        z-index: 1;
    }

    @keyframes p-error-show {
        from {
            height: 0;
        }
        to {
            color: rgb(236, 194, 194);
            opacity: 1;
            height: rem(50);

        }
    }
}


////////////////////////////// Responsividade /////////////////////////

//largura <= 1000px

@media (max-width: 1000px) {
    .conteiner-input-url {
        width: 80%;

        .logo-youtube {height: rem(50);}     
        .text-orienta-urlinput {font-size: rem(15);}
        
        .conteiner-url {
            input, .btn-Manda-URL, .placeholder-input-url {
                font-size: rem(18);
            }

            .colar-input-url {
                height: rem(35);
            }
        }
    }
}

//largura <= 600px

@media (max-width: 600px) {
    .conteiner-input-url {width: 100%;}
}

//Dispositivos moveis

//largura <= 500px

@media (max-width: 500px) and (pointer: coarse) { 
    .conteiner-input-url {
        padding-bottom: 0;
        height: 100%;
        gap: rem(30);

        .text-orienta-urlinput {
            margin-top: 0;
        }

        .conteiner-url {
            flex-direction: column;
            position: relative;
            background: none;
            height: auto;

            input {
                width: 100%;
                height: rem(40);
                background: rgba(68, 16, 133, 1);
                padding: rem(5);
            }
            
            //vamos retira o placeholder
            .placeholder-input-url {display: none;}

            .colar-input-url {top: 10%; transform: none;}

            .btn-Manda-URL {
                width: rem(100);
                height: rem(50);
            }
        }
    }
}
