@use '../../utils/utils.scss' as *;

.wraper-conteiner-loading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute !important;
    z-index: 100000000 !important;

    .loading {
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        border: rem(5) solid transparent;
        border-top: rem(5) solid rgb(168, 168, 168);
        animation: loop-rodar 1s linear infinite;
    }

    .text-loading {
        color: white;
        font-size: rem(25);
    }

    @keyframes loop-rodar {
        from {transform: rotate(0deg);}
        to {transform: rotate(360deg);}
    }
}