@use '../../utils/utils.scss' as *;

.conteiner-wraper-404 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: rem(10);

    * {
        transform: translateY(rem(100));
        opacity: 0;
    }

    .text-404 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bolder;
        font-size: rem(50);
        color: white;
        font-family: "Sora";
    }

    .Voltar-404 {
        text-decoration: none;
        width: rem(150);
        font-family: "Sora", Arial, Helvetica, sans-serif;
        height: rem(40);
        background: rgb(16, 231, 48);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: rem(4);
        color: white;
        font-size: rem(25);
        font-weight: bold;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
            transform: translateY(rem(-10));
            filter: blur(0.1px) brightness(0.8);
        }
    }
}

.up-ease { animation: up-ease 1s ease 1 forwards; }
.up-ease-delay {animation: up-ease 1s ease 0.5s forwards;}
@keyframes up-ease {
    from {transform: translateY(rem(100)); opacity: 0;}
    to {transform: translateY(0); opacity: 1;}
}